<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zachnthebox</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4DB0E03C-5259-40A1-898A-510F8BA79312</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14353B22-DE13-4C22-92AF-1B5D07086E7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>601E5E03-6469-4056-9A6B-8DE83938475D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09085ACE-54CA-4157-BE5C-11083DDCC374</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63DA37BC-7A7D-4628-9A24-9B94E805F981</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7DFD07D-8928-4D62-8FE1-93A4EFCB6057</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94841BF6-C51D-42C9-B0F9-11501153C5C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F288DE9D-ACD2-4C67-8ED8-42FC7FFB4A06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A60426F4-A71B-4393-8A96-B29FF386F9F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E09EBAB-2B2A-4F0A-86E9-DABDACF0D4EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>08CFCACD-E424-4AD8-AC5C-8F4BB65C4017</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7BCB90B-0DF8-4DCB-8F45-4A2B7342041E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open In Jenkins</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zachary Berardo</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/pulls?utf8=%E2%9C%93&amp;q=is%3Aopen+is%3Apr+org%3Aweb+NOT+wip+draft%3Afalse</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>14353B22-DE13-4C22-92AF-1B5D07086E7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>KUB Github</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>63DA37BC-7A7D-4628-9A24-9B94E805F981</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Web Team Pull Requests</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4DB0E03C-5259-40A1-898A-510F8BA79312</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E7DFD07D-8928-4D62-8FE1-93A4EFCB6057</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nrg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open ember-nrg-ui in Github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>94841BF6-C51D-42C9-B0F9-11501153C5C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>github api key</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set Github API Key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>601E5E03-6469-4056-9A6B-8DE83938475D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var apiKey = argv[0];
  ObjC.import('stdlib');
  Application('Alfred 4').setConfiguration('GITHUB_API_KEY', {
    toValue: apiKey,
    inWorkflow: $.getenv('alfred_workflow_bundleid'),
    exportable: false
  });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09085ACE-54CA-4157-BE5C-11083DDCC374</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/knoxville-utilities-board/ember-nrg-ui</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F288DE9D-ACD2-4C67-8ED8-42FC7FFB4A06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8E09EBAB-2B2A-4F0A-86E9-DABDACF0D4EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/git/$1;
/usr/local/bin/code .;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>08CFCACD-E424-4AD8-AC5C-8F4BB65C4017</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>repo</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading Repositories</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node github-search.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>githubSearch.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>KUB Github Enterprise Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A60426F4-A71B-4393-8A96-B29FF386F9F0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A7BCB90B-0DF8-4DCB-8F45-4A2B7342041E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08CFCACD-E424-4AD8-AC5C-8F4BB65C4017</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>09085ACE-54CA-4157-BE5C-11083DDCC374</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>14353B22-DE13-4C22-92AF-1B5D07086E7A</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>4DB0E03C-5259-40A1-898A-510F8BA79312</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>601E5E03-6469-4056-9A6B-8DE83938475D</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>63DA37BC-7A7D-4628-9A24-9B94E805F981</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>8E09EBAB-2B2A-4F0A-86E9-DABDACF0D4EC</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>94841BF6-C51D-42C9-B0F9-11501153C5C0</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A60426F4-A71B-4393-8A96-B29FF386F9F0</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>A7BCB90B-0DF8-4DCB-8F45-4A2B7342041E</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>E7DFD07D-8928-4D62-8FE1-93A4EFCB6057</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>F288DE9D-ACD2-4C67-8ED8-42FC7FFB4A06</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ruby</key>
		<string>/usr/local/bin/ruby</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GITHUB_API_KEY</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://www.beardo.dev</string>
</dict>
</plist>
